<form [formGroup]="filters" (ngSubmit)="onSubmit()">

  <div formArrayName="breeds">
    <h2>Filters</h2>

    <div *ngFor="let breed of breeds.controls; let i=index">
      <label for="breed-{{ i }}">{{breed.value}}:</label>
      <input id="breed-{{ i }}" type="checkbox" [formControlName]="i">
    </div>
  </div>

  <label for="amountOfPictures">Amount to show: </label>
  <input id="amountOfPictures" type="text" formControlName="amountOfPictures" required>

  <p>Complete the form to enable button.</p>
  <button type="submit" [disabled]="!filters.valid">Find some kitties</button>
</form>
